src/main/java/edu/dawndemeo/stocks/xml/stock_info.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="stocks">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="StockQuote" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="xs:string">
                <xs:attribute type="xs:string" name="symbol" use="optional"/>
                <xs:attribute type="xs:string" name="price" use="optional"/>
                <xs:attribute type="xs:string" name="quoteDate" use="optional"/>
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>